/* #region ---- Reset ---- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* #endregion ---- Reset ---- */

/* #region ---- General ---- */
.container{
    display: flex;
    justify-content: center;
}
img{
    max-width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    width: 1380px;
    flex-wrap: wrap;
}
.col{
    width: 450px;
}
nav a , footer a , a i{
    margin-right: 10px;
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.header-container , .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    position: relative;
    color: white;
}
/* #endregion ---- /General ---- */

/* #region ---- Typography ---- */

.brand , .discount-price , .price{
    font-size: 14px;
}
.discount-price{
    color: red;
    font-weight: 700;
}
.price{
    text-decoration: line-through;
}
h5{
    padding-bottom: 10px;
}
.like:hover{
    color: red;
}
/* #endregion ---- /Typography ---- */

/* #region ---- Header ---- */
.bg-header{
    background-color: #ff6900;
    min-height: 70px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.link a{
    margin-left: 5px;
}
.logo{
    max-width: 135px;
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #endregion ---- /Header ---- */

/* #region ---- Main ---- */

.container:last-child{
    padding-bottom: 60px;
}
.card{
    position: relative;
}
.card .like{
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}
.card .discount{
    position: absolute;
    left: 0;
    bottom: 40px;
}
.flag{
    background-color: red;
    color: white;
}
.category{
    background-color: #008000;
    color: white;
}
.flag , .category{
    padding: 5px;
    font-weight: 700;
}
.card:hover .default{
    display: none;
}
.hover{
    display: none;
}
.card:hover .hover{
    display: block;
}

/* #endregion ---- /Main ---- */

/* #region ---- Footer ---- */

.bg-footer{
    background-color: #1a1a1a;
    min-height: 110px;
}
.info{
    line-height: 1.5;
}
.info a{
    font-weight: 100;
    font-size: 14px;
}
.link-bottom a{
    margin-right: 1px;
}
.link-bottom a i{
    font-size: 20px;
}
/* #endregion ---- /Footer ---- */